
.Content { 
  min-height: 90vh; 
  width:100%; 
  /* padding-top: 25vh;  */
  box-sizing: border-box;
  padding: 1.5em;
  color: #595959;
  /* background-color: #f2edf3; */
  background-color: #FBFAFC;
  /* min-height: inherit; */
  /* position: relative; */
}