.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    /* background: rgba(0, 0, 0, 0.3); */
    background: rgba(212, 0, 255, 0.3);
    z-index: 100;
}
  