.NavList {
  display: flex;
  flex-direction: row;
  /* color: #595959; */
  justify-content: flex-start;
  align-items: baseline;
}

@media (max-width: 800px) {
  .NavList {
    flex-direction: column;
  }
}