html { 
  background-color: #1af660;
  background-color: #2D74FF;
  background-color: #EB5757;
  background-color: #ff732d;
  background-color: #ef34ba;
  background-color: #22ff7a;
  background-color: #36388d;
}