.SideBarItem {
	text-align: left;
	color: #ffffff;
	min-width: 10%;
	padding: 0.8em;
	cursor: pointer;
}

.SideBarItem:hover {
	color: #ffffff;
	background-color: #595959;
}

.SideBarIcon {
	display: inline;
	width: 30px;
	height: 30px;
	line-height: auto;
	vertical-align: middle;
	text-align: left;
	margin-right: 1em;
}

.SideBarIcon > img {
	width: inherit;
	height: inherit;
}